{% extends "movies/base.html" %}

{% block title %} {{ movie.name }} {% endblock title %}

{% block content %}

<br><br>
<center><div>

    <h1>{{ movie.name }}</h1>
    <img src="{{ movie.image.url }}" alt="Card image cap" height="500px">

</div>
</center>
<center>
<h2>Rating: {{ rate }}</h2>
voters: {{ movie.voters }}
{% if user.is_authenticated %}
    {% if have %}
        <h2>Already in your "Watch Later" list.</h2>
    {% else %}
        <h2><a href="{% url 'watch_later' movie.url %}">Watch Later</a></h2>
    {% endif %}
{% endif %}
{{ profile }}
{% for field in form1 %}
<form action="" method="post">
    {% csrf_token %}
    {{ field }}
    <input type="submit" value="Comment" name="comm">
</form>
{% endfor %}


{% for field in form2 %}
<form action="" method="post">
    {% csrf_token %}
    {{ field }}
    <input type="submit" value="Vote" NAME="vote">
</form>
{% endfor %}
<hr>
<h2>Comments:</h2>
{% for comment in comments %}
    --> {{ comment.author }}: {{ comment.text }}<br>
{% endfor %}
<p>Similar:</p>
<ol>
{% for sim in similar %}
    <li>
        <a href="{% url 'detail' sim.url %}"><h5 class="card-title">{{ sim.name }}</h5></a>
    </li>
{% endfor %}
</ol>
</center>
{% endblock content %}
