{% extends "movies/base.html" %}

{% block title %} {{ user.username }}'s Profile {% endblock title %}

{% block content %}

<br><br><br>
<center><div>

    <h1>{{ profile.user.username }}'s Lists</h1>
  {% if request.user == profile.user %}
    {% if profile.is_public %}
      <a href="{% url 'private' pk=request.user.id %}"><span>Make Profile Private</span><br></a>
    {% else %}
      <a href="{% url 'public' pk=request.user.id %}"><span>Make Profile Visible</span><br></a>
    {% endif %}
  {% endif %}
</div></center>
{% if request.user != profile.user and profile.is_public or request.user == profile.user %}
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Watch Later
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><a href="{% url 'watch_later_list' pk=profile.user.id %}"><span>Go to List</span></a> | Total Movies in this List: {{ count1 }}</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Viewed
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><a href="{% url 'viewed_list' pk=profile.user.id %}"><span>Go to List</span></a> | Total Movies in this List: {{ count2 }}</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Abandoned
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><a href="{% url 'abandoned_list' pk=profile.user.id %}"><span>Go to List</span></a> | Total Movies in this List: {{ count3 }}</div>
    </div>
  </div>
</div>
{% else %}
  <center><span>This Profile is hidden by its User</span></center>
{% endif %}
{% endblock content %}
